@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel

@{
    ViewData["Title"] = "Delete page";
}
<h1>Delete</h1>

<body>

    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Product.Id)

            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" readonly />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Phone" class="control-label"></label>
                <input asp-for="Product.Phone" class="form-control" readonly />
                <span asp-validation-for="Product.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Address" class="control-label"></label>
                <input asp-for="Product.Address" class="form-control" readonly />
                <span asp-validation-for="Product.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Hours" class="control-label">Opening Hours</label>
                <div id="hourForm">
                    <table>
                        <tr>
                            <td class="col-1"></td>
                            <td class="col-1">Opening Hours</td>
                            <td class="col-1"><center>Closed</center></td>
                            <td class="col-4"></td>
                        </tr>
                        <tr class="weekday">
                            <td>Monday</td>
                            <td>
                                <input asp-for="Product.Hours" class="form=control hours" value="@Model.Product.Hours?[0]" readonly />
                                <span asp-validation-for="Product.Hours" class="text-danger"></span>
                            </td>
                            <td><center><input type="checkbox" class="closedcheck" readonly /></center></td>
                        </tr>
                        <tr class="weekday">
                            <td>Tuesday</td>
                            <td>
                                <input asp-for="Product.Hours" class="form=control hours" value="@Model.Product.Hours?[1]" readonly />
                                <span asp-validation-for="Product.Hours" class="text-danger"></span>
                            </td>
                            <td><center><input type="checkbox" class="closedcheck" readonly /></center></td>
                        </tr>
                        <tr class="weekday">
                            <td>Wednesday</td>
                            <td>
                                <input asp-for="Product.Hours" class="form=control hours" value="@Model.Product.Hours?[2]" readonly />
                                <span asp-validation-for="Product.Hours" class="text-danger"></span>
                            </td>
                            <td><center><input type="checkbox" class="closedcheck" readonly /></center></td>
                        </tr>
                        <tr class="weekday">
                            <td>Thursday</td>
                            <td>
                                <input asp-for="Product.Hours" class="form=control hours" value="@Model.Product.Hours?[3]" readonly />
                                <span asp-validation-for="Product.Hours" class="text-danger"></span>
                            </td>
                            <td><center><input type="checkbox" class="closedcheck" readonly /></center></td>
                        </tr>
                        <tr class="weekday">
                            <td>Friday</td>
                            <td>
                                <input asp-for="Product.Hours" class="form=control hours" value="@Model.Product.Hours?[4]" readonly />
                                <span asp-validation-for="Product.Hours" class="text-danger"></span>
                            </td>
                            <td><center><input type="checkbox" class="closedcheck" readonly /></center></td>
                        </tr>
                        <tr class="weekday">
                            <td>Saturday</td>
                            <td>
                                <input asp-for="Product.Hours" class="form=control hours" value="@Model.Product.Hours?[5]" readonly />
                                <span asp-validation-for="Product.Hours" class="text-danger"></span>
                            </td>
                            <td><center><input type="checkbox" class="closedcheck" readonly /></center></td>
                        </tr>
                        <tr class="weekday">
                            <td>Sunday</td>
                            <td>
                                <input asp-for="Product.Hours" class="form=control hours" value="@Model.Product.Hours?[6]" readonly />
                                <span asp-validation-for="Product.Hours" class="text-danger"></span>
                            </td>
                            <td><center><input type="checkbox" class="closedcheck" readonly /></center></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Product.Url" class="control-label"></label>
                <input asp-for="Product.Url" class="form-control" readonly />
                <span asp-validation-for="Product.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" readonly />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>

            <h1>Confirm Delete of this item</h1>
            <div class="form-group">
                <a class="return" asp-page="/Product/ProductIndex"><img class="read_ind return_icon" /></a>
                <input type="submit" value="Delete" class="btn btn-primary" readonly />
            </div>
        </form>

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script><!--    define behavior for open / close checkbox-- >
        $(function () {
            $('input[type="checkbox"][class="closedcheck"]').each(function () {
                var isClosed = $(this).closest(".weekday").find(".hours").val();
                if (isClosed == "Closed") {
                    $(this).closest(".weekday").find(".hours").prop("readonly", true);
                    $(this).prop("checked", true);
                }
            });
        });</script>
</body>