@page
@model ContosoCrafts.WebSite.Pages.Product.ReadFoodModel
@{
}

<body>

    <div id="food_read" class="" runat="server">
        <br />
        <h2 align="center"><b>@Model.Food.Name</b></h2>

        <div class="content">
            <img class="card-img" src='@Model.Food.Image' alt='Image for @Model.Food.Name'>
        </div>

        <br />
        <br />

        <div>
            <table cellPadding=10>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td><b>NAME</b></td>
                        <td>@Model.Food.Name</td>
                    </tr>
                    <tr>
                        <td><b>DESCRIPTION</b></td>
                        <td>@Model.Food.Description</td>
                    </tr>
                    <tr>
                        <td><b>IMAGE</b></td>
                        <td>@Model.Food.Image</td>
                    </tr>
                </tbody>
            </table>
            <table cellPadding=10>
                <thead></thead>
                <tbody>
                    <tr>
                        <td><b>SUGGESTION</b></td>
                        @if (Model.Food.Restaurants != null)
                        {
                            @foreach (var restaurant in Model.Food.Restaurants)
                            {
                                @foreach (var product in Model.Products)
                                {
                                    @if (product.Id == restaurant)
                                    {
                                        <td>
                                            <figure>
                                                <img class="img-frame" src=@product.Image alt="restaurant image">
                                                <figcaption align="center"><a href="@product.Url" target="_blank">@product.Name </a></figcaption>
                                            </figure>
                                        </td>
                                    }
                                }
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <br />
        <br />

        <div class="row">
            <a class="return" asp-page="/Product/ProductIndex" asp-route-id="food"><img class="read_ind return_icon" /></a>
            <a asp-page="UpdateFood" asp-route-id="@Model.Food.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
            <a asp-page="DeleteFood" asp-route-id="@Model.Food.Id" class="btn btn-danger">Delete</a>
        </div>
    </div>
</body>
